@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{

}

    <!--A heading that introduces your site-->
    <h1> My Hobby Page </h1>
    <h2> Woodworking in Hawaii </h2>

    <!--At least two images-->
    <div class="image-container">
        <img src="assets/assortedItems.jpg" alt="Image 1">
        <img src="assets/woodbowl.jpg" alt="Image 2">
    </div>

    <!--A few paragraphs talking about your hobby-->
    <p>
        Woodworking is a craft that involves shaping and assembling wooden materials to create functional or decorative items.
        It requires precision and skill, utilizing tools like saws, chisels, and drills to cut, shape, and join wood.
        From furniture and cabinetry to small decorative pieces, woodworking offers endless creative possibilities for makers of all levels.
    </p>


    <p>
        From a young age, I worked with my father at his woodshop. I accompanied my dad in projects ranging from a hardwood Ohia floor to
        a 10 ft long Monkey pod table. My facination to learn new skills and build new products grew over time.
        Though my fathers woodshop has since closed, I still enjoy small projects such as spinning koa pens or cedar bowls on my personal lathe.
        Click the link above to learn more about my service fees.
    </p>
